<h1>API Links</h1>
<p><strong>All Comments: </strong><a
    href=" https://marigaportfolio.herokuapp.com/api/all_comments/">https://marigaportfolio.herokuapp.com/api/all_comments/</a>
</p>


<p><strong>All Projects: </strong><a
    href=" https://marigaportfolio.herokuapp.com/api/all_projects">https://marigaportfolio.herokuapp.com/api/all_projects</a>
</p>


<p><strong>All Languages: </strong><a
    href=" https://marigaportfolio.herokuapp.com/api/all_languages">https://marigaportfolio.herokuapp.com/api/all_languages</a>
</p>


<p><strong>All Frameworks: </strong><a
    href=" https://marigaportfolio.herokuapp.com/api/all_frameworks">https://marigaportfolio.herokuapp.com/api/all_frameworks</a>
</p>


<p><strong>All Tools: </strong><a
    href=" https://marigaportfolio.herokuapp.com/api/all_tools">https://marigaportfolio.herokuapp.com/api/all_tools</a>
</p>


<p><strong>All Databases: </strong><a
    href=" https://marigaportfolio.herokuapp.com/api/all_databases">https://marigaportfolio.herokuapp.com/api/all_databases</a>
</p>


<p><strong>By DB: </strong><a href="https://marigaportfolio.herokuapp.com/api/database_projects/
  ">https://marigaportfolio.herokuapp.com/api/database_projects/
    {database}</a>
</p>


<p><strong>By Language: </strong><a
    href=" https://marigaportfolio.herokuapp.com/api/languages_projects/">https://marigaportfolio.herokuapp.com/api/languages_projects/{languages}</a>
</p>


<p><strong>By Framework: </strong> <a
    href="https://marigaportfolio.herokuapp.com/api/framework_projects/">https://marigaportfolio.herokuapp.com/api/framework_projects/{framework}</a>
</p>


<p><strong>By Tools: </strong><a
    href="https://marigaportfolio.herokuapp.com/api/tools_projects/">https://marigaportfolio.herokuapp.com/api/tools_projects/{tools}</a>
</p>

<p><strong>By Id: </strong><a
    href="https://marigaportfolio.herokuapp.com/api/id_projects/">https://marigaportfolio.herokuapp.com/api/id_projects/{id}</a>
</p>